.results {
    margin-bottom: 8px;
    color: #303E47;
}

table.table-responsive {
    width: 100%;
    border: 1px solid #A7ADB1;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    padding: 7px 38px;
    color: #303E47;
}

th:first-child,
td:first-child {
    padding: 7px 38px 7px 20px;

}

.table-responsive th {
    font-family: 'open_sansbold';
    border-bottom: 1px solid #707070;
}

.table-responsive td {
    border-top: 1px solid #A7ADB1;
}

.table-responsive tr:first-child td {
    border-top: none;
}


/* .table-responsive td:first-child {
    border: none;
} */