@font-face {
  font-family: 'open_sansbold';
  src: url('./fonts/opensans_bold/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'open_sansregular';
  src:
    url('./fonts/opensans_regular/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'open_sansregular', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}